.button {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
.button a {
  color: black;
}

.button:hover {
  background-color: rgb(253, 253, 186);
}
